/* selectores de tag <a></a> o ancla estos dan estilos cuando este elemento permanece si ningun cambio de estado (link) o cuando fue visitado (visited)*/
a:link, a:visited{
    background-color: rgb(52, 152, 219);
    color: rgb(17, 122, 101);
    padding: 15px 25px;
    margin: auto 25px;
    border:10px solid #F39C12;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 250px;
}
/*selectores de tag <a></a> o ancla estos dan estilos cuando el cursor pasa por este elemento (hope) o cuando de le da click a este (active)*/
a:hover, a:active{
    background-color: rgb(17, 122, 101) ;
    color: rgb(243, 156, 18);
    padding: 20px 30px;
    margin: auto 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/* personalizamos el size de nuestras imagenes para que coincidan como iconos*/
img{
    width: 225px;
    height:225px;
}

h1{
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRustQ9miyttsktzBpMO6cN2rlLEZMGN_3teg&usqp=CAU);
    color: rgba(35, 155, 86,.7);
    padding: 50px 25px ;
    margin: 10px 5px ;
    text-align: center;
    font-size: 500%;
    border: 30px solid #239B56;
}
h2{
    background-color: #F39C12;
    padding: 10px 10px;
    border: 10px solid #239B56;
    font-size: 20px;

    text-align: center;
}

body{
    background-color: #E67E22;
    
}